@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

#graphics-credit {
    width: 100%; text-align:center; color:rgba(0, 0, 0, 0.787);
  }

#banner{
  width: 100%;
  text-align: center;
}  
#banner img {
  width: 30%
}

/*-----------------------------------------------------------*/

.imagedropshadow {
  padding: 5px;
  border: solid 1px #EFEFEF;
}
a:hover img.imagedropshadow {
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
      box-shadow: 1px 1px 5px #999;
}

/*-----------------------------------------------------------*/

footer a:link, footer  a:visited {
    color:rgba(0, 0, 0, 0.787);
    text-decoration: none;
    cursor: pointer;
}

footer a:hover {
    text-decoration: underline;
}

footer a:link:active, a:visited:active {
    color:rgba(0, 0, 0, 0.787);
}